# ATTR{product}=="Kinect2"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="02c4", GROUP="video", MODE="0664"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="02d8", GROUP="video", MODE="0664"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="02d9", GROUP="video", MODE="0664"

# ASUS xtion pro live
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1d27", ATTRS{idProduct}=="0601", GROUP="video", MODE="0664"
